:root {
  --main-color: rgb(40, 109, 165);
  --font-color-white: rgba(255, 255, 255);
  --separation-color-grey: rgb(220, 220, 220);
  --items-text-color: #333;
  --font-color-black: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--font-color-white);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}
header .header-sticky {
  height: 110px;
  background-color: var(--font-color-white);
}
header .header-search-with-main {
  display: flex;
  margin: 0 auto;
  padding: 15px 15px;
  height: 69px;
}
header .logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
header .search-bar {
  position: absolute;
  top: 62px;
  right: 15px;
  left: 15px;
  display: flex;
  overflow: hidden;
  height: 48px;
  border: black solid 1px;
  border-radius: 15px;
}
header .search-bar .input-inner {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 78px 0 15px;
  font-size: 15px;
}
header .search-bar button {
  border: none;
  margin-right: 15px;
  background: none;
}
header .search-bar i {
  font-size: 26px;
  color: var(--main-color);
}
header .user-interactions {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .user-interactions .interaction i {
  padding: 5px;
  font-size: 30px;
  color: var(--main-color);
}
header .user-interactions .shopping-cart {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}
header .user-interactions .shopping-cart span {
  display: none;
}
header .user-interactions .shopping-cart .cart-items {
  position: relative;
}
header .user-interactions .shopping-cart .cart-items .item-amount {
  position: absolute;
  top: -5px;
  right: -2px;
  text-align: center;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: var(--main-color);
  font-size: 14px;
  color: var(--font-color-white);
}
header .user-interactions .products-list-basket {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50px;
  left: 3px;
}
header .user-interactions .products-list-basket .basket-container {
  border: 1px var(--separation-color-grey) solid;
  border-radius: 15px;
  width: 365px;
  height: 100%;
  padding: 10px;
  background-color: #fff;
}
header .user-interactions .products-list-basket .basket-container .basket-product {
  display: flex;
  margin: 15px 0;
  border-bottom: 1px var(--separation-color-grey) solid;
  height: 50px;
  padding: 0 10px;
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-img {
  position: relative;
  margin-right: 25px;
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-img .product-amount {
  position: absolute;
  top: -10px;
  left: 28px;
  text-align: center;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: var(--main-color);
  font-size: 14px;
  color: var(--font-color-white);
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-img .product-pic {
  width: 35px;
  height: 35px;
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-name {
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 12px;
  line-height: 20px;
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-price {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
}
header .user-interactions .products-list-basket .basket-container .basket-product .product-price i {
  margin-left: 10px;
  color: var(--main-color);
  cursor: pointer;
}
header .user-interactions .products-list-basket .basket-container .price-basket {
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 25px;
  padding: 0 10px;
}
header .user-interactions .products-list-basket .basket-container .price-basket .products-price {
  margin-left: auto;
  margin-right: 21px;
  font-weight: bold;
}
header .user-interactions .products-list-basket .basket-container .checkout {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
header .user-interactions .products-list-basket .basket-container .checkout .checkout-btn {
  transition: 0.4s;
  border: none;
  border-radius: 15px;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: var(--font-color-white);
}

.title {
  padding: 15px;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px var(--separation-color-grey) solid;
}
.categories .categories-container {
  padding-bottom: 10px;
}
.categories .categories-container .item {
  margin: 3px 0;
}
.categories .categories-container .item .btn {
  margin: 0 4px;
  padding: 12px 50px;
  border: none;
  height: 100%;
  width: 100%;
  background: none;
}
.categories .categories-container .item .btn span {
  pointer-events: none;
  font-size: 18px;
}

.burger-menu-categories {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.burger-menu-categories .search-bar-with-x {
  display: flex;
  margin: 15px 10px;
}
.burger-menu-categories .search-bar {
  position: relative;
  top: 0;
}
.burger-menu-categories .burger-close {
  display: flex;
  font-size: 30px;
  color: var(--main-color);
  align-items: center;
  top: 10px;
  margin-right: 20px;
  margin-left: 50px;
}
.burger-menu-categories .burger-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  border-top: 1px var(--separation-color-grey) solid;
}
.burger-menu-categories .burger-categories-container .item {
  margin: 10px 5px;
  border-radius: 0%;
}
.burger-menu-categories .burger-categories-container .item .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;
  padding: 12px 50px;
  border: none;
  height: 100%;
  width: 100%;
  background: none;
}
.burger-menu-categories .burger-categories-container .item .btn span {
  pointer-events: none;
  font-size: 18px;
}
.burger-menu-categories .burger-categories-container .item .btn .fa-chevron-right {
  font-size: 20px;
  color: var(--main-color);
}

.main-content .content {
  display: flex;
  justify-content: center;
}
.main-content .content .aside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -15px;
  z-index: 1;
}
.main-content .content .aside .burger-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10px;
  border-top: 1px var(--separation-color-grey) solid;
}
.main-content .content .aside .burger-categories-container .item {
  margin: 10px 5px;
  border-radius: 0%;
}
.main-content .content .aside .burger-categories-container .item .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;
  padding: 12px 50px;
  border: none;
  height: 100%;
  width: 100%;
  background: none;
}
.main-content .content .aside .burger-categories-container .item .btn span {
  pointer-events: none;
  font-size: 18px;
}
.main-content .content .aside .burger-categories-container .item .btn .fa-chevron-right {
  font-size: 20px;
  color: var(--main-color);
}
.main-content .content .aside .burger-categories-container .models-menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.main-content .content .menu {
  width: 250px;
  height: 100%;
}
.main-content .content .menu .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin-top: 5px;
}
.main-content .content .menu .item .btn {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
}
.main-content .content .menu .item .btn span {
  pointer-events: none;
  font-size: 18px;
}
.main-content .content .menu .item-title {
  margin-bottom: 10px;
  border-radius: 15px;
  height: 60px;
  background-color: var(--main-color);
  font-size: 23px;
  color: var(--font-color-white);
}
.main-content .content .products .products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-content .content .products .products-list .product {
  border: solid 1px var(--separation-color-grey);
  width: 354px;
  height: 100%;
  padding: 16px;
  margin: 5px;
}
.main-content .content .products .products-list .product .product-header {
  height: 87px;
}
.main-content .content .products .products-list .product .product-img {
  width: 100%;
  height: 100%;
}
.main-content .content .products .products-list .not-on-sale .price-discount {
  visibility: hidden;
}
.main-content .content .products .products-list .no-installment .installment {
  visibility: hidden;
}
.main-content .content .products .products-list .product-right-border {
  border-right: solid 1px var(--separation-color-grey);
}
.main-content .content .products .products-list .product-bottom-border {
  border-bottom: solid 1px var(--separation-color-grey);
}
.main-content .content .products .products-list .price-box .installment {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: var(--main-color);
}
.main-content .content .products .products-list .price-box .add-to-cart .add-to-cart-button {
  transition: 0.3s;
  border: none;
  width: 100%;
  height: 48px;
  background: var(--main-color);
  font-size: 15px;
  color: var(--font-color-white);
}
.main-content .content .products .products-list .price-box .add-to-cart .add-to-cart-button span {
  pointer-events: none;
}
.main-content .content .products .products-list .price-box .full-price {
  margin: 6px 0 14px;
}
.main-content .content .products .products-list .price-box .full-price .prices {
  display: inline-flex;
  align-items: center;
}
.main-content .content .products .products-list .price-box .full-price .prices .price-discount .old-price {
  font-weight: 300;
  letter-spacing: -0.5px;
  text-decoration: line-through;
  color: var(--items-text-color);
}
.main-content .content .products .products-list .price-box .full-price .prices .price-with-cents-and-currency {
  display: flex;
  margin-right: 15px;
  height: 40px;
}
.main-content .content .products .products-list .price-box .full-price .prices .price-with-cents-and-currency .price {
  font-size: 40px;
  color: var(--main-color);
}
.main-content .content .products .products-list .price-box .full-price .prices .price-with-cents-and-currency .cents-with-currency {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 2px;
  font-size: 16px;
  color: var(--items-text-color);
}

.footer {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  margin-top: 83px;
  padding: 15px;
  background-color: var(--main-color);
  height: 100px;
}
.footer .links {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.footer .links .link {
  margin: 0 35px;
}
.footer .links .link a {
  color: var(--font-color-white);
  text-decoration: none;
}
.footer .links .link a:hover {
  color: var(--font-color-black);
}
.footer span {
  color: var(--font-color-white);
  font-size: 14px;
  font-weight: lighter;
}

.checkout-modal {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 7px #666;
}
.checkout-modal .close-modal {
  display: flex;
  justify-content: flex-end;
  padding: 5px 7px;
  font-size: 25px;
}
.checkout-modal .close-modal .checkout-close {
  cursor: pointer;
}
.checkout-modal .modal-text {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}
.checkout-modal .modal-button .checkout {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.checkout-modal .modal-button .checkout .check {
  transition: 0.4s;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  height: 50px;
  width: 100px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: var(--font-color-white);
}

.blur {
  filter: blur(2px);
}

.hidden {
  display: none;
}

.basket-animation-in {
  -webkit-animation: scale-up-tr 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-tr 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.basket-animation-out {
  -webkit-animation: scale-down-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-down-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-tr {
  0% {
    transform: scale(1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scale(0.5);
    transform-origin: 100% 0%;
    opacity: 0;
  }
}

@keyframes scale-down-tr {
  0% {
    transform: scale(1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scale(0.5);
    transform-origin: 100% 0%;
    opacity: 0;
  }
}
@-webkit-keyframes scale-up-tr {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-up-tr {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.burger-slide-left {
  -webkit-animation: burger-slide-left 0.3s both;
          animation: burger-slide-left 0.3s both;
}

@-webkit-keyframes burger-slide-left {
  0% {
    transform: translateX(375px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes burger-slide-left {
  0% {
    transform: translateX(375px);
  }
  100% {
    transform: translateX(0);
  }
}
.burger-x-slide-right {
  -webkit-animation: burger-x-slide-right 0.3s;
          animation: burger-x-slide-right 0.3s;
}

@-webkit-keyframes burger-x-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(375px);
  }
}

@keyframes burger-x-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(375px);
  }
}
.item {
  transition: 0.4s;
  border-radius: 15px;
  cursor: pointer;
}

.active {
  border-radius: 15px;
  background-color: var(--main-color);
}
.active span {
  color: var(--font-color-white);
}

.item:hover {
  background-color: var(--main-color);
  border-radius: 15px;
}
.item:hover span {
  color: var(--font-color-white);
}
.item:hover i {
  color: var(--font-color-white) !important;
}

.check:hover {
  box-shadow: 0 0 7px #666;
}

.add-to-cart-button:hover {
  box-shadow: 0 0 7px #666;
}

.empty-state {
  display: none;
}

.active-empty-state {
  display: block;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

.no-hover {
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */