:root {
	// --main-color: #d00000;
	--main-color: rgb(40, 109, 165);
	--font-color-white: rgb(255, 255, 255);
	--separation-color-grey: rgb(220, 220, 220);
	--items-text-color: #333;
}

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	height: 1500px;
	background-color: var(--font-color-white);
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	cursor: pointer;
}

//------------------HEADER------------------//
header {
	position: sticky;
	top: 0;
	z-index: 1;

	.header-sticky {
		display: flex;
		align-items: center;
		height: 120px;
		width: 100%;
		background-color: var(--font-color-white);
	}

	.header-search-with-main {
		display: flex;
		margin: 0 auto;
		padding: 12px 0 9px;
		height: 69px;
	}

	.logo {
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 100%;
	}

	.search-bar {
		overflow: hidden;
		display: flex;
		margin: 0 50px 0 30px;
		border: black solid 1px;
		border-radius: 15px;
		.input-inner {
			border: none;
			outline: none;
			width: 582px;
			height: 100%;
			font-size: 15px;
			padding: 0 78px 0 15px;
		}
		button {
			background: none;
			border: none;
			margin-right: 15px;
		}
		i {
			color: var(--main-color);
			font-size: 26px;
		}
	}

	.user-interactions {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		width: 365px;
		height: 100%;
		.shopping-cart {
			cursor: pointer;
			display: flex;
			flex-direction: row-reverse;
			i {
				font-size: 30px;
				color: var(--main-color);
			}
			span {
				display: flex;
				align-items: flex-end;
				margin-left: 10px;
				font-size: 19px;
			}
			.cart-items {
				position: relative;

				.item-amount {
					position: absolute;
					text-align: center;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					background-color: var(--main-color);
					color: var(--font-color-white);
					font-size: 14px;
					top: -10px;
					right: -7px;
				}
			}
		}
	}
}
//------------------NAVIGATION------------------//

nav {
	.categories {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 12px;
		border-bottom: 1px var(--separation-color-grey) solid;
		.categories-container {
			display: flex;
			flex-direction: row;
			padding-bottom: 10px;
			.item {
				margin: 0 4px;
				padding: 12px 50px;
				.btn {
					height: 100%;
					width: 100%;
					background: none;
					border: none;
					cursor: pointer;
					span {
						font-size: 18px;
					}
				}
			}
		}
	}
}

//------------------MAIN------------------//
.main-content {
	.content {
		display: flex;
		justify-content: center;
		width: 100%;

		//------------------ASIDE-MENU------------------//
		.menu {
			width: 250px;
			height: 100%;
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				height: 46px;
			}
			.item-title {
				background-color: var(--main-color);
				color: var(--font-color-white);
				font-size: 23px;
				height: 60px;
				border-radius: 15px;
				margin-bottom: 10px;
			}
		}
		//------------------CONTENT------------------//
		.products {
			display: block;
			margin-left: 50px;
			width: 1062px;
			height: 100%;
			.products-list {
				display: flex;
				flex-wrap: wrap;
				.product {
					border-top: solid 1px var(--separation-color-grey);
					border-left: solid 1px var(--separation-color-grey);
					padding: 16px;
					width: 354px;
					height: 100%;
				}

				.product-3 {
					border-right: solid 1px var(--separation-color-grey);
				}
				.product-bottom {
					border-bottom: solid 1px var(--separation-color-grey);
				}

				.price-box {
					.installment {
						margin-bottom: 12px;
						font-size: 18px;
						color: var(--main-color);
						text-decoration: underline;
						font-weight: 700;
					}

					.add-to-cart {
						display: flex;

						.add-to-cart-button {
							width: 100%;
							height: 48px;
							color: var(--font-color-white);
							font-size: 15px;
							background: var(--main-color);
							border: none;
							transition: 0.3s;
						}
					}
					.full-price {
						margin: 6px 0 14px;
						.prices {
							display: inline-flex;
							align-items: center;
							text-align: center;
							.price-discount {
								.old-price {
									text-decoration: line-through;
									letter-spacing: -0.5px;
									font-weight: 300;
									color: var(--items-text-color);
								}
							}
							.price-with-cents-and-currency {
								display: flex;
								margin-right: 15px;
								height: 40px;
								.price {
									font-size: 40px;
									color: var(--main-color);
								}
								.cents-with-currency {
									display: flex;
									flex-direction: column;
									align-items: flex-end;
									justify-content: flex-end;
									margin-left: 2px;
									font-size: 16px;
									color: var(--items-text-color);
								}
							}
						}
					}
				}
			}
		}
	}
}
.item {
	border-radius: 15px;
	transition: 0.3s;
	cursor: pointer;
}

.active {
	background-color: var(--main-color);
	border-radius: 15px;
	span {
		color: var(--font-color-white);
	}
}

.item:hover {
	background-color: var(--main-color);
	border-radius: 15px;
	span {
		color: var(--font-color-white);
	}
}

.add-to-cart-button:hover {
	box-shadow: 0 0 7px #666;
}

