:root {
	// --main-color: #d00000;
	--main-color: rgb(40, 109, 165);
	--font-color-white: rgba(255, 255, 255);
	--separation-color-grey: rgb(220, 220, 220);
	--items-text-color: #333;
	--font-color-black: rgb(0, 0, 0);
}

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-height: 100vh;
	background-color: var(--font-color-white);
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	cursor: pointer;
}

//------------------HEADER------------------//
header {
	position: sticky;
	z-index: 1;
	top: 0;

	.header-sticky {
		height: 110px;
		background-color: var(--font-color-white);
	}

	.header-search-with-main {
		display: flex;
		margin: 0 auto;
		padding: 15px 15px;
		height: 69px;
	}

	.logo {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	.search-bar {
		position: absolute;
		top: 62px;
		right: 15px;
		left: 15px;
		display: flex;
		overflow: hidden;
		height: 48px;
		border: black solid 1px;
		border-radius: 15px;
		.input-inner {
			border: none;
			outline: none;
			width: 100%;
			height: 100%;
			padding: 0 78px 0 15px;
			font-size: 15px;
		}
		button {
			border: none;
			margin-right: 15px;
			background: none;
		}
		i {
			font-size: 26px;
			color: var(--main-color);
		}
	}

	.user-interactions {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		width: 100%;
		height: 100%;
		.interaction {
			i {
				padding: 5px;
				font-size: 30px;
				color: var(--main-color);
			}
		}
		.shopping-cart {
			display: flex;
			flex-direction: row-reverse;
			cursor: pointer;
			span {
				display: none;
			}
			.cart-items {
				position: relative;

				.item-amount {
					position: absolute;
					top: -5px;
					right: -2px;
					text-align: center;
					border-radius: 50%;
					width: 17px;
					height: 17px;
					background-color: var(--main-color);
					font-size: 14px;
					color: var(--font-color-white);
				}
			}
		}
		.products-list-basket {
			transition: cubic-bezier(0.215, 0.61, 0.355, 1);
			position: absolute;
			top: 50px;
			left: 3px;
			.basket-container {
				border: 1px var(--separation-color-grey) solid;
				border-radius: 15px;
				width: 365px;
				height: 100%;
				padding: 10px;
				background-color: #fff;
				.basket-product {
					display: flex;
					margin: 15px 0;
					border-bottom: 1px var(--separation-color-grey) solid;
					height: 50px;
					padding: 0 10px;
					.product-img {
						position: relative;
						margin-right: 25px;
						.product-amount {
							position: absolute;
							top: -10px;
							left: 28px;
							text-align: center;
							border-radius: 50%;
							width: 17px;
							height: 17px;
							background-color: var(--main-color);
							font-size: 14px;
							color: var(--font-color-white);
						}
						.product-pic {
							width: 35px;
							height: 35px;
						}
					}
					.product-name {
						display: flex;
						align-items: center;
						width: 150px;
						font-size: 12px;
						line-height: 20px;
					}
					.product-price {
						display: flex;
						align-items: center;
						margin-left: auto;
						font-weight: bold;
						i {
							margin-left: 10px;
							color: var(--main-color);
							cursor: pointer;
						}
					}
				}
				.price-basket {
					display: flex;
					align-items: center;
					margin: 20px 0;
					height: 25px;
					padding: 0 10px;
					.products-price {
						margin-left: auto;
						margin-right: 21px;
						font-weight: bold;
					}
				}
				.checkout {
					display: flex;
					justify-content: flex-end;
					padding: 10px;
					.checkout-btn {
						transition: 0.4s;
						border: none;
						border-radius: 15px;
						height: 40px;
						padding: 5px 10px;
						background-color: var(--main-color);
						color: var(--font-color-white);
					}
				}
			}
		}
	}
}
//------------------NAVIGATION------------------//

.title {
	padding: 15px;
}
.categories {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 12px;
	border-bottom: 1px var(--separation-color-grey) solid;
	.categories-container {
		padding-bottom: 10px;
		.item {
			margin: 3px 0;
			.btn {
				margin: 0 4px;
				padding: 12px 50px;
				border: none;
				height: 100%;
				width: 100%;
				background: none;
				span {
					pointer-events: none;
					font-size: 18px;
				}
			}
		}
	}
}
.burger-menu-categories {
	justify-content: start;
	flex-direction: column;
	background-color: #fff;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: -15px;
	right: -15px;
	.search-bar-with-x {
		display: flex;
		margin: 15px 10px;
	}
	.search-bar {
		position: relative;
		top: 0;
	}
	.burger-close {
		display: flex;

		font-size: 30px;
		color: var(--main-color);
		align-items: center;
		top: 10px;
		margin-right: 20px;
		margin-left: 50px;
	}
	.burger-categories-container {
		width: 100%;
		padding-bottom: 10px;
		.item {
			margin: 10px 5px;
			border-radius: 0%;
			.btn {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 4px;
				padding: 12px 50px;
				border: none;
				height: 100%;
				width: 100%;
				background: none;
				span {
					pointer-events: none;
					font-size: 18px;
				}
				.fa-chevron-right {
					font-size: 20px;
					color: var(--main-color);
				}
			}
		}
	}
}

//------------------MAIN------------------//
.main-content {
	.content {
		display: flex;
		justify-content: center;
		//------------------ASIDE-MENU------------------//
		.menu {
			width: 250px;
			height: 100%;
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 46px;
				margin-top: 5px;
				.btn {
					border: none;
					height: 100%;
					width: 100%;
					background: none;
					span {
						pointer-events: none;
						font-size: 18px;
					}
				}
			}
			.item-title {
				margin-bottom: 10px;
				border-radius: 15px;
				height: 60px;
				background-color: var(--main-color);
				font-size: 23px;
				color: var(--font-color-white);
			}
		}
		//------------------CONTENT------------------//
		.products {
			.products-list {
				display: flex;
				flex-wrap: wrap;
				.product {
					border: solid 1px var(--separation-color-grey);
					width: 354px;
					height: 100%;
					padding: 16px;
					margin: 5px;
					.product-header {
						height: 87px;
					}
					.product-img {
						width: 100%;
						height: 100%;
					}
				}
				.not-on-sale {
					.price-discount {
						visibility: hidden;
					}
				}
				.no-installment {
					.installment {
						visibility: hidden;
					}
				}

				.product-right-border {
					border-right: solid 1px var(--separation-color-grey);
				}
				.product-bottom-border {
					border-bottom: solid 1px var(--separation-color-grey);
				}

				.price-box {
					.installment {
						margin-bottom: 12px;
						font-size: 18px;
						font-weight: 700;
						text-decoration: underline;
						color: var(--main-color);
					}

					.add-to-cart {
						.add-to-cart-button {
							transition: 0.3s;
							border: none;
							width: 100%;
							height: 48px;
							background: var(--main-color);
							font-size: 15px;
							color: var(--font-color-white);
							span {
								pointer-events: none;
							}
						}
					}
					.full-price {
						margin: 6px 0 14px;
						.prices {
							display: inline-flex;
							align-items: center;
							.price-discount {
								.old-price {
									font-weight: 300;
									letter-spacing: -0.5px;
									text-decoration: line-through;
									color: var(--items-text-color);
								}
							}
							.price-with-cents-and-currency {
								display: flex;
								margin-right: 15px;
								height: 40px;
								.price {
									font-size: 40px;
									color: var(--main-color);
								}
								.cents-with-currency {
									display: flex;
									flex-direction: column;
									align-items: flex-end;
									justify-content: flex-end;
									margin-left: 2px;
									font-size: 16px;
									color: var(--items-text-color);
								}
							}
						}
					}
				}
			}
		}
	}
}

//------------------FOOTER------------------//

.footer {
	position: absolute;
	bottom: -120px;
	width: 100%;
	text-align: center;
	margin-top: 83px;
	padding: 15px;
	background-color: var(--main-color);
	height: 100px;
	.links {
		display: flex;
		justify-content: center;
		padding: 8px;
		.link {
			margin: 0 35px;
			a {
				color: var(--font-color-white);
				text-decoration: none;
			}
			a:hover {
				color: var(--font-color-black);
			}
		}
	}
	span {
		color: var(--font-color-white);
		font-size: 14px;
		font-weight: lighter;
	}
}

.checkout-modal {
	position: fixed;
	top: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 600px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 0 7px #666;
	.close-modal {
		display: flex;
		justify-content: flex-end;
		padding: 5px 7px;
		font-size: 25px;
		.checkout-close {
			cursor: pointer;
		}
	}
	.modal-text {
		display: flex;
		align-items: center;
		height: 50px;
		padding-left: 10px;
	}
	.modal-button {
		.checkout {
			display: flex;
			justify-content: flex-end;
			padding: 10px;
			.check {
				transition: 0.4s;
				border: none;
				border-radius: 15px;
				font-size: 20px;
				height: 50px;
				width: 100px;
				padding: 5px 10px;
				background-color: var(--main-color);
				color: var(--font-color-white);
			}
		}
	}
}

.blur {
	filter: blur(2px);
}

.hidden {
	display: none;
}

.basket-animation-in {
	animation: scale-up-tr 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.basket-animation-out {
	animation: scale-down-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-down-tr {
	0% {
		transform: scale(1);
		transform-origin: 100% 0%;
	}
	100% {
		transform: scale(0.5);
		transform-origin: 100% 0%;
		opacity: 0;
	}
}

@keyframes scale-up-tr {
	0% {
		transform: scale(0.5);
		transform-origin: 100% 0%;
		opacity: 0;
	}
	100% {
		transform: scale(1);
		transform-origin: 100% 0%;
		opacity: 1;
	}
}

.item {
	transition: 0.4s;
	border-radius: 15px;
	cursor: pointer;
}

.active {
	border-radius: 15px;
	background-color: var(--main-color);
	span {
		color: var(--font-color-white);
	}
}

.item:hover {
	background-color: var(--main-color);
	border-radius: 15px;
	span {
		color: var(--font-color-white);
	}
	i {
		color: var(--font-color-white) !important;
	}
}

.check:hover {
	box-shadow: 0 0 7px #666;
}

.add-to-cart-button:hover {
	box-shadow: 0 0 7px #666;
}

.empty-state {
	display: none;
}
.active-empty-state {
	display: block;
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}

.no-hover {
	pointer-events: none;
}

// @media screen and (max-width: 400px) {
// 	body {
// 		max-width: 100%;
// 	}
// 	header {
// 		position: sticky;
// 		z-index: 1;
// 		top: 0;
// 		.header-sticky {
// 			display: flex;
// 			align-items: center;
// 			height: 120px;
// 			width: 100%;
// 			background-color: var(--font-color-white);
// 		}

// 		.header-search-with-main {
// 			display: flex;
// 			width: 110px;
// 			height: 375px;
// 		}

// 		.logo {
// 			width: 120px;
// 			height: 36px;
// 			margin: 0 30px;
// 		}

// 		.search-bar {
// 			display: flex;

// 			overflow: hidden;
// 			margin: 0 50px 0 30px;
// 			border: black solid 1px;
// 			border-radius: 15px;
// 			width: 345px;
// 			height: 48px;
// 			.input-inner {
// 				border: none;
// 				outline: none;
// 				padding: 0 78px 0 15px;
// 				font-size: 15px;
// 			}
// 			button {
// 				border: none;
// 				margin-right: 15px;
// 				background: none;
// 			}
// 			i {
// 				font-size: 26px;
// 				color: var(--main-color);
// 			}
// 		}

// 		.user-interactions {
// 			position: relative;
// 			display: flex;
// 			flex-direction: row-reverse;
// 			align-items: center;
// 			width: 365px;
// 			height: 100%;
// 			.shopping-cart {
// 				display: flex;
// 				flex-direction: row-reverse;
// 				cursor: pointer;
// 				i {
// 					font-size: 30px;
// 					color: var(--main-color);
// 				}
// 				span {
// 					display: flex;
// 					align-items: flex-end;
// 					margin-left: 10px;
// 					font-size: 19px;
// 				}
// 				.cart-items {
// 					position: relative;

// 					.item-amount {
// 						position: absolute;
// 						top: -10px;
// 						right: -7px;
// 						text-align: center;
// 						border-radius: 50%;
// 						width: 17px;
// 						height: 17px;
// 						background-color: var(--main-color);
// 						font-size: 14px;
// 						color: var(--font-color-white);
// 					}
// 				}
// 			}
// 			.products-list-basket {
// 				transition: cubic-bezier(0.215, 0.61, 0.355, 1);
// 				position: absolute;
// 				top: 50px;
// 				left: 3px;
// 				.basket-container {
// 					border: 1px var(--separation-color-grey) solid;
// 					border-radius: 15px;
// 					width: 365px;
// 					height: 100%;
// 					padding: 10px;
// 					background-color: #fff;
// 					.basket-product {
// 						display: flex;
// 						margin: 15px 0;
// 						border-bottom: 1px var(--separation-color-grey) solid;
// 						height: 50px;
// 						padding: 0 10px;
// 						.product-img {
// 							position: relative;
// 							margin-right: 25px;
// 							.product-amount {
// 								position: absolute;
// 								top: -10px;
// 								left: 28px;
// 								text-align: center;
// 								border-radius: 50%;
// 								width: 17px;
// 								height: 17px;
// 								background-color: var(--main-color);
// 								font-size: 14px;
// 								color: var(--font-color-white);
// 							}
// 							.product-pic {
// 								width: 35px;
// 								height: 35px;
// 							}
// 						}
// 						.product-name {
// 							display: flex;
// 							align-items: center;
// 							width: 150px;
// 							font-size: 12px;
// 							line-height: 20px;
// 						}
// 						.product-price {
// 							display: flex;
// 							align-items: center;
// 							margin-left: auto;
// 							font-weight: bold;
// 							i {
// 								margin-left: 10px;
// 								color: var(--main-color);
// 								cursor: pointer;
// 							}
// 						}
// 					}
// 					.price-basket {
// 						display: flex;
// 						align-items: center;
// 						margin: 20px 0;
// 						height: 25px;
// 						padding: 0 10px;
// 						.products-price {
// 							margin-left: auto;
// 							margin-right: 21px;
// 							font-weight: bold;
// 						}
// 					}
// 					.checkout {
// 						display: flex;
// 						justify-content: flex-end;
// 						padding: 10px;
// 						.checkout-btn {
// 							transition: 0.4s;
// 							border: none;
// 							border-radius: 15px;
// 							height: 40px;
// 							padding: 5px 10px;
// 							background-color: var(--main-color);
// 							color: var(--font-color-white);
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
